body {
    background-color: lavenderblush;
  }


h3 {
  text-align: center;
}
h4{
  color: sienna;     
}

small {
  color: black;
  font-style: bold;
}
ul.list-group {
  font-style: bold;
}
p.mb-1 {
  font-style: oblique;
  font-weight: bold;
  font-family: cursive;;
  color: sienna;

}
li.list-group-item {
  background-color: oldlace ;
}
#schedule {
  font-style: italic;
  color: black;
  font-family: serif;
}

#speakers{
  font-style: italic;
  font-family: serif;
  color: black;
}


/*Added Inline CSS to index.html page*/
  
