body {
    background-color: lavenderblush;
  }
h3 {
  text-align: center;
}
h4{
  color: sienna;     
}

small {
  color: black;
  font-style: bold;
}
ul.list-group {
  font-style: bold;
}
p.mb-1 {
  font-style: oblique;
  font-weight: bold;
  font-family: cursive;;
  color: sienna;

}
li.list-group-item {
  background-color: oldlace ;
}





/* All of this is practice*/

/*this changes the inside font */

a.dropdown-item {
  color: black;
 
}
/*changes the inside of the box*/
div.dropdown-menu {
  
  background-color: green;
  
  }

/*This changes only the text in the jumbotron*/

div.jumbotron{
  color: black;
  font-family: !important;            
}

/*this changes the text color for all h4's*/





/* make sure to add the # because it is an id
changed the font and the background color
 !!!!! Need  to figure out how to add an image */

  jumbotron {
    background-image: url ("C:\Users\krist\OneDrive\Pictures\0039.jpg");
    background-size: cover;
  }
  
